@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
@media screen and (min-width: 1200px) {
  /* 
    ================================
        Best Viewed In Full Page
    ================================
*/

  /* Hover over a card to flip, can tab too. */

  @import url("https://fonts.googleapis.com/css?family=Lato");

  /* .flip-card-container */
  .flipCardContainer {
    width: 350px;
    height: 500px;
    margin: 30px;

    perspective: 1000px;
  }

  /* .flip-card */
  .flipCard {
    height: inherit;
    transform-style: preserve-3d;
    transition: 0.6s 0.1s;
  }

  /* hover and focus-within states */
  .flipCardContainer:hover .flipCard,
  .flipCardContainer:focus-within .flipCard {
    transform: rotateY(180deg);
  }

  /* .card-... */
  .cardFront,
  .cardBack {
    width: 100%;
    height: 100%;
    border-radius: 24px;

    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    backface-visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cardBack {
    transform: rotateY(180deg);
    z-index: 1;
  }

  /* figure */
  figure {
    z-index: -1;
  }

  /* figure*/
  figure,
  .imgBg {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  /* img */
  img {
    height: 100%;
    border-radius: 24px;
  }

  /* figcaption */
  figcaption {
    margin-top: 12%;
    padding: 8px 22px;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 2px;
    word-spacing: 6px;
    text-align: right;
    position: absolute;
    top: 0;
    color: white;
    background: rgba(0, 0, 0, 0.5);
  }

  /* Description Front */
  .ulDescriptionFront {
    padding-top: 80%;
    margin: 0 auto;
    width: 70%;
    height: 100%;
    list-style: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* li Front */
  .ulDescriptionFront li {
    width: 100%;
    margin-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    text-align: center;
    position: relative;
    color: white;
  }

  .ulDescriptionFront li:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
    opacity: 0.5;
  }

  /* Description Back */
  .ulDescriptionBack {
    width: 80%;
    list-style: none;
    color: white;
  }

  /* li Back */
  .ulDescriptionBack li {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    text-align: center;
    color: white;
  }
}
